body {
    background-color: rgb(245, 233, 221) !important;
}

.custom-bg {
    background-color: rgb(140, 110, 74) !important;
    border: none !important;
    outline: none !important;
}

.custom-bg:hover {
    background-color: rgb(120, 90, 54) !important;
}

.custom-text {
    color: rgb(140, 110, 74) !important;
}

.custom-text:hover {
    color: rgb(110, 90, 54) !important;
}

.custom-textt {
    color: rgb(140, 110, 74) !important;
}

.bg {
    background-color: rgb(245, 233, 221) !important;
}

.pig {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    justify-content: center !important;
}

.pig-li {
    color: rgb(140, 110, 74) !important;
}

.modal-text {
    color: rgb(110, 90, 54) !important;
    justify-content: center !important;
}

.custom-alert {
    background-color: rgb(140, 110, 74) !important;
    color: rgb(245, 233, 221) !important;
    border: none !important;
}

/* .custom-email {
    display: inline-block !important;
    background-color: rgb(140, 110, 74) !important;
    color: rgb(245, 233, 221) !important;
    padding: 10px 20px !important;
    text-decoration: none !important;
    border: 1px;
} */
