{% include 'bootstrap/nav.html' %}
{% extends 'bootstrap/index.html' %}
{% block title %} About {% endblock %}
{% block content %}
<header class="container text-center mt-2">
    <h1 class="display-4">About Us</h1>
</header>
<section class="container">
    <div class="container mt-3">
        <p class="lead">Welcome to Taskify Hub app! We are a team of passionate developers dedicated to creating
            user-friendly and efficient tools for productivity.</p>
        <p class="lead">Our mission is to simplify task management and help users stay organized in their daily lives.
            With our app, you can easily create, organize, and prioritize your tasks, ensuring that nothing falls
            through the cracks.</p>
    </div>
</section>
{% endblock %}

