{% extends 'bootstrap/index.html' %} <!-- Extend the base template -->
{% block title %} Change Password {% endblock %} <!-- Define the title of this page -->
{% block content %} <!-- Define the content block -->
<head>
    <!-- Link to the custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if reset_successful %}
            <!-- Display an alert if password reset was successful -->
            <div class="alert alert-secondary" role="alert">
                Please reset password.
            </div>
            {% endif %}
            <!-- Password reset form -->
            <form action="/reset_password/{{ token }}" method="post">
                {{ form.hidden_tag() }} <!-- Hidden CSRF(Cross-Site Request Forgery) token field -->
                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", placeholder="Password", autocomplete="current-password") }}
                    {% for error in form.password.errors %}
                        <!-- Display password validation errors -->
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="mb-3">
                    {{ form.confirm_password.label(class="form-label") }}
                    {{ form.confirm_password(class="form-control", placeholder="Password", autocomplete="current-password") }}
                    {% for error in form.confirm_password.errors %}
                        <!-- Display confirm password validation errors -->
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="text-center">
                    <!-- Submit button -->
                    <button type="submit" class="btn btn-secondary custom-bg">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %} <!-- End of content block -->
