{% include 'bootstrap/nav.html' %} <!-- Including the navigation bar -->
{% extends 'bootstrap/index.html' %} <!-- Extending the base template -->
{% block title %} Contact {% endblock %} <!-- Setting the title of this page -->
{% block content %} <!-- Defining the content block -->
<section class="container-fluid">
    <header class="container text-center mt-0">
        <h1 class="display-4">Contact Us</h1> <!-- Heading for the Contact Us section -->
    </header>
    <div class="container mt-3 text-center">
        <p class="lead">Taskify Hub management can be contacted through this email <strong><i>taskifyhubproject@gmail.com</i></strong>.</p>
    </div>
</section>
{% endblock %} <!-- End of content block -->
