{% include 'bootstrap/nav.html' %}
{% extends 'bootstrap/index.html' %} <!-- This inherits the bootstrap templates -->
{% block title %} List {% endblock %}
{% block content %} <!-- This allows block content from this page to be rendered -->
<div class="container">
    <div class="card img-fluid">
        <img src="/static/images/land.jpeg" class="card-img" alt="Landing page image">
        <div class="card-img-overlay">
            <h5 class="card-title text-center h1 mt-2 mb-1 text-secondary">Welcome to Taskify Hub!</h5>
            <p class="card-text text-center h5 mb-3 p-0 text-secondary">A Todo App that helps you stay organized and productive. Do you want to stay organized and supercharge your productivity?</p>
            <!-- <p class="card-text text-center h5 p-0 mb-1 text-secondary">Do you want to stay organized and supercharge your productivity?</p> -->
            <p class="card-text text-center"><a href="/register" class="btn btn-secondary ms-2 bg-secondary">Register now!</a></p>
        </div>
    </div>
</div>
{% endblock %}