{% extends 'bootstrap/index.html' %} <!-- Include the navigation bar -->
{% block title %} List {% endblock %} <!-- Set the title of this page -->
{% block content %} <!-- Define the content block -->
    <head>
        <!-- Link to the custom stylesheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <div class="container"> <!-- Main container -->
        {% if not current_user.is_authenticated and request.endpoint == 'list' %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger" role="alert"> <!-- Display flashed error messages -->
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
        {% endif %}
        <div class="d-flex"> <!-- Flex container for welcome message and logout button -->
            <div class="flex-fill">
                <h2 class="mb-3 mt-3 custom-textt">Hello, {{ current_user.first_name }}</h2> <!-- Display user's first name -->
            </div>
            <div class="flex-shrink-1 align-content-end">
                <div class="mb-3 mt-3">
                    <a href="{{url_for('logout')}}" class="btn btn-secondary custom-bg">Logout</a> <!-- Logout button -->
                </div>
            </div>
        </div>
        <div class="row"> <!-- Row for adding a new task and displaying statistics -->
            <div class="col-md-6"> <!-- Column for adding a new task -->
                <div class="card shadow bg custom-textt">
                    <div class="card-header"><b>NEW TASK</b></div>
                    <div class="card-body">
                        <form action="/add" class="mb-3" method="post">
                            <label for="">Title: </label>
                            <input class="form-control" type="text" name="title1" id="" placeholder="Add Title...">
                            <!-- Display flashed messages with the 'title' category -->
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for message, category in messages %}
                            {% if message == 'title' %}
                            <div class="container-fluid mt-1">
                                <div class="row justify-content-start">
                                    <div class="col-sm-6">
                                        <p class="alert alert-danger custom-alert">{{ category }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            {% endwith %}

                            <label class="mt-2" for="">Description: </label>
                            <textarea class="form-control" name="description1" id="description" rows="3"
                                placeholder="Add Description..."></textarea>
                            <div class="mb-3">
                                <label for="dueDateInput" class="form-label">Due Date</label>
                                <input type="date" class="form-control" id="dueDateInput" name="due_date">
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                {% for message, category in messages %}
                                {% if message == 'due_date' %}
                                <div class="container mt-1">
                                    <div class="row justify-content-start">
                                        <div class="col-sm-12">
                                            <p class="alert alert-danger">{{ category }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </div>
                            <div class="col-md-12 text-center">
                                <input class="btn mt-3 btn-lg btn-secondary custom-bg" type="submit" value="Add Task">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6"> <!-- Column for displaying statistics -->
                <div class="card shadow bg custom-textt">
                    <div class="card-header "><b>STATISTICS</b></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card shadow">
                                    <div class="card-body text-center">
                                        <h6>Total task</h6>
                                        <p class="text-center">{{total_todo}}</p> <!-- Display total number of tasks -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card shadow">
                                    <div class="card-body text-center">
                                        <h6>Completed task</h6>
                                        <p class="text-center">{{completed_todo }}</p> <!-- Display number of completed tasks -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card shadow">
                                    <div class="card-body text-center">
                                        <h6>Uncompleted task</h6>
                                        <p class="text-center">{{uncompleted_todo}}</p> <!-- Display number of uncompleted tasks -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if total_todo == 0 %}
        <div class="container-fluid custom-textt text-center mt-3"> <!-- Message if the task list is empty -->
            <h3>Your task list is currently empty. Why not add a task?</h3>
        </div>
        {% endif %}

        <!-- Task list -->
        <div class="border-start border-4 shadow mt-3">
            {% for todo in task_on_page %}
            <div class="card-body shadow">
                <h5 class="mb-0">{{ todo.order }}. {{ todo.title }}</h5> <!-- Display task title -->
                <p class="container-fluid">{{ todo.description }}</p> <!-- Display task description -->
                <!-- Display due date -->
                <p class="container-fluid mb-0"><b>Due Date:</b> {{ todo.due_date.strftime('%Y-%m-%d') if todo.due_date else 'Not specified' }}</p>
                <div class="container-fluid">
                    {% if todo.complete %}
                    <span class="badge bg-success">Completed</span> <!-- Display badge for completed tasks -->
                    {% else %}
                    <span class="badge bg-secondary">Uncompleted</span> <!-- Display badge for uncompleted tasks -->
                    {% endif %}
                    <a class="btn btn-sm btn-info" href="/update/{{ todo.id }}">Mark Completed</a> <!-- Button to mark task as completed -->

                    <button type="button" class="btn btn-sm btn-secondary custom-bg" data-bs-toggle="modal" data-bs-target="#editModal{{ todo.id }}">
                        Edit
                    </button>
                    <!-- Edit Modal -->
                    <div class="modal fade" id="editModal{{ todo.id }}" tabindex="-1" aria-labelledby="editModal{{ todo.id }}Label"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content bg custom-textt">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModal{{ todo.id }}Label"><b>EDIT TASK</b></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="editForm{{ todo.id }}" method="post" action="/edit/{{ todo.id }}">
                                        <input type="hidden" name="_method" value="put">
                                        <div class="mb-3">
                                            <label for="titleInput{{ todo.id }}" class="form-label">New Title</label>
                                            <input type="text" class="form-control" id="titleInput{{ todo.id }}" name="title" placeholder="New Title"
                                                value="{{ todo.title }}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="descriptionInput{{ todo.id }}" class="form-label">New Description</label>
                                            <textarea class="form-control" id="descriptionInput{{ todo.id }}" name="description"
                                                placeholder="New Description">{{ todo.description }}</textarea>
                                        </div>
                                        <div class="mb-3">
                                            <label for="dueDateInput{{ todo.id }}" class="form-label">Due Date</label>
                                            <input type="date" class="form-control" id="dueDateInput{{ todo.id }}" name="due_date"
                                                value="{{ todo.due_date.strftime('%Y-%m-%d') if todo.due_date else '' }}">
                                        </div>
                                        <button type="submit" class="btn btn-secondary custom-bg">Save</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <a class="btn btn-sm btn-danger" href="/delete/{{ todo.id }}">Delete</a> -->
                    <button class="btn btn-sm btn-danger" href="#" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal{{ todo.id }}">
                        Delete
                    </button>
                    <!-- Delete Modal -->
                    <div class="modal fade" id="deleteConfirmationModal{{ todo.id }}" tabindex="-1" aria-labelledby="deleteConfirmationModal{{ todo.id }}Label"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content bg">
                                <div class="modal-header">
                                    <h5 class="modal-title modal-text">CONFIRM DELETE</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body modal-text">
                                    Are you sure you want to delete this task - <strong>{{ todo.title }}</strong>?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary custom-bg" data-bs-dismiss="modal">No</button>
                                    <a id="deleteLink" href="/delete/{{ todo.id }}" class="btn btn-danger">Yes</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}

            <!-- Pagination controls -->
            <ul class="pagination pig">
                <li class="page-item">
                    {% if page > 1 %}
                        <a class="page-link pig-li" href="{{ url_for('list', page=page-1) }}">Previous</a>
                    {% endif %}
                </li>
                {% for num in range(1, total_pages + 1) %}
                <li class="page-item">
                    {% if num != page %}
                    <a class="page-link pig-li" href="{{ url_for('list', page=num) }}">{{ num }}</a>
                    {% else %}
                    <strong class="page-link pig-li">{{ num }}</strong>
                    {% endif %}
                </li>
                {% endfor %}
                <li class="page-item">
                    {% if page < total_pages %}
                        <a class="page-link pig-li" href="{{ url_for('list', page=page+1) }}">Next</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
{% endblock %} <!-- End of content block -->
